<ion-header>

  <ion-toolbar color="favorite">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cards</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <img-loader src="https://static.pexels.com/photos/194730/pexels-photo-194730-large.jpeg" useImg></img-loader>
    <ion-card-header>
      <ion-card-title>
        An awesome card
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is a card that uses the image tag and inherits the Ionic Framework CSS styles.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img-loader src="https://static.pexels.com/photos/132893/pexels-photo-132893-large.jpeg" height="400px"
                backgroundSize="cover"></img-loader>
    <ion-card-header>
      <ion-card-title>
        An awesome card
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is a card that DOES NOT use the image tag and has a custom height. Also, it's background size is set to
      "cover".
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img-loader src="https://static.pexels.com/photos/166422/pexels-photo-166422-large.jpeg" useImg></img-loader>
    <ion-card-header>
      <ion-card-title>
        An awesome card
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is a card that uses the image tag and inherits the Ionic Framework CSS styles.
    </ion-card-content>
  </ion-card>

  <ion-card bg>
    <img-loader src="https://static.pexels.com/photos/128845/pexels-photo-128845-large.jpeg" useImg></img-loader>
    <div class="card-title">
      An awesome card
    </div>
    <div class="card-subtitle">
      This is a card that uses the image tag and inherits the Ionic Framework CSS styles.
    </div>
  </ion-card>

  <ion-card bg>
    <img-loader src="https://static.pexels.com/photos/194730/pexels-photo-194730-large.jpeg" useImg></img-loader>
    <div class="card-title">
      An awesome card
    </div>
    <div class="card-subtitle">
      This is a card that uses the image tag and inherits the Ionic Framework CSS styles.
    </div>
  </ion-card>

</ion-content>