<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Avatars</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png"
                    [useImg]="true"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Someone</h2>
        <p>Something about them</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-buzz.png"
                    [useImg]="true"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Someone</h2>
        <p>Something about them</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-potatohead.png"
                    [useImg]="true"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Someone</h2>
        <p>Something about them</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-hamm.png"
                    [useImg]="true"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Someone</h2>
        <p>Something about them</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-bopeep.png"
                    [useImg]="true"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Someone</h2>
        <p>Something about them</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-luke.png"
                    [useImg]="true"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Someone</h2>
        <p>Something about them</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-rey.png"
                    [useImg]="true"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Someone</h2>
        <p>Something about them</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img-loader src="http://ionicframework.com/dist/preview-app/www/assets/img/avatar-luke.png"
                    [useImg]="true"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Someone</h2>
        <p>Something about them</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>