<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Virtual Scroll</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-virtual-scroll [items]="images" [approxItemHeight]="'70px'">
    <ion-item *virtualItem="let image" text-wrap>
      <ion-avatar slot="start">
        <img-loader [src]="image" useImg [spinner]="false"></img-loader>
      </ion-avatar>
      <ion-label>
        <h2>Something here</h2>
        <p>More stuff here</p>
      </ion-label>
      <ion-avatar slot="end">
        <img [src]="image" alt="">
      </ion-avatar>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>