<ion-header>

  <ion-toolbar>
    <ion-title>Slider</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-slides [pager]="true">
    <ion-slide>
      <img-loader src="https://static.pexels.com/photos/90807/pexels-photo-90807-large.jpeg"
                  [useImg]="true"></img-loader>
    </ion-slide>
    <ion-slide>
      <img-loader src="https://static.pexels.com/photos/36990/pexels-photo-large.jpg" [useImg]="true"></img-loader>
    </ion-slide>
    <ion-slide>
      <img-loader src="https://static.pexels.com/photos/7114/laptop-mobile-large.jpg" [useImg]="true"></img-loader>
    </ion-slide>
    <ion-slide>
      <img-loader src="https://static.pexels.com/photos/7059/man-people-space-desk-large.jpg"
                  [useImg]="true"></img-loader>
    </ion-slide>
  </ion-slides>

</ion-content>