<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Image Loader
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p padding>
    Welcome to this demo application. Pick one of the options below to see different use cases of ionic-image-loader:
  </p>
  <ion-list>
    <ion-item href="/cards" routerDirection="forward">
      Cards
    </ion-item>
    <ion-item href="/avatars" routerDirection="forward">
      Avatars
    </ion-item>
    <ion-item href="/slider" routerDirection="forward">
      Slider
    </ion-item>
    <ion-item href="/concurrency" routerDirection="forward">
      Concurrency test
    </ion-item>
    <ion-item href="/ng-content" routerDirection="forward">
      Ng-content
    </ion-item>
    <ion-item href="/virtual-scroll" routerDirection="forward">
      Virtual Scroll
    </ion-item>
  </ion-list>

  <div padding>
    <ion-button size="large" expand="block" fill="outline" (click)="clearCache()">Clear Cache</ion-button>
  </div>
</ion-content>